<launch>

    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find fusion_slam)/config/rs32.yaml" />
    <rosparam command="load" file="$(find fusion_slam)/config/optimization.yaml" />
    <rosparam command="load" file="$(find fusion_slam)/config/orb.yaml" />

    <!-- point_filter_num，和filter_size_surf是滤波参数，越小前端效果越好，但运行越慢 -->
    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" /> <!-- 对当前点云的filter -->
    <param name="filter_size_map" type="double" value="0.5" /> <!-- 对地图的filter -->
    <param name="cube_side_length" type="double" value="1000" /> <!-- 1000 -->
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fusion_slam" type="runMapping" name="runMapping" output="screen" launch-prefix="xterm -e gdb --args" /> 

    <!-- <node name="tf_map_odom" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 map odom 20" /> -->
    <!-- <node name="tf_baselink_body" pkg="tf" type="static_transform_publisher" args="-0.4 0.0 0.0 0.0 0.0 0.0 base_link body 20" /> -->

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fusion_slam)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>